= form_for [@company,@project] do |f|
  = render 'shared/error_handler', :errors => @project.errors

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :file_path
    = f.text_field :file_path
  .field
    = f.label :file_name
    = f.text_field :file_name
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
